<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491401404214-dvkp0m1he4ndupietjof4qm1a3l78tj2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491401404214-dvkp0m1he4ndupietjof4qm1a3l78tj2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>491401404214-qnfuogkipe93b6nid31708hkc0jddei9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBeE6OyoJSMEQEFNyyTeKDe1xXGileEQZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>491401404214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apli</string>
	<key>PROJECT_ID</key>
	<string>aplidotai</string>
	<key>STORAGE_BUCKET</key>
	<string>aplidotai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491401404214:ios:8be24b9178e4be786b9d97</string>
	<key>DATABASE_URL</key>
	<string>https://aplidotai.firebaseio.com</string>
</dict>
</plist>